# Игнорируем временные и служебные файлы Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Игнорируем тесты (если они не должны попадать в образ)
tests/
*.egg-info/

# Игнор IDE и редакторов
.vscode/
.idea/

# Игнор виртуальных окружений
venv/
.venv/

# Игнорируем временные и локальные базы данных
db.sqlite3
data/

# Игнор логов
logs/
*.log

# Игнор Node/Frontend артефактов
node_modules/
yarn-error.log

# Docker служебные файлы
Dockerfile*
.dockerignore
.env.docker

# Прочее
*.swp
*.bak
