# PostgreSQL
POSTGRES_USER=your_user
POSTGRES_PASSWORD=your_password
POSTGRES_DB=postgres
MAINDB_URL=postgresql://your_user:your_password@host:5432/postgres

# Service URLs
PRODUCT_SERVICE_URL=https://api.alluresallol.com
SALES_SERVICE_URL=https://api.alluresallol.com
REVIEW_SERVICE_URL=https://api.alluresallol.com
AUTH_SERVICE_URL=https://api.alluresallol.com
PROFILE_SERVICE_URL=https://api.alluresallol.com
PAYMENTS_SERVICE_URL=https://api.alluresallol.com
DISCOUNT_SERVICE_URL=https://api.alluresallol.com
DASHBOARD_SERVICE_URL=https://api.alluresallol.com

# Payment API key
NOWPAYMENTS_API_KEY=your-api-key-here

# Webhook
NGROK_WEBHOOK_URL=https://your-webhook-url-here
