# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
__init__.pyc

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django/Flask/SQL files
*.log
local_settings.py
*.sqlite3
db.sqlite3
db.sqlite3-journal
instance/
.webassets-cache

# Notebooks
.ipynb_checkpoints

# pyenv / poetry / pipenv / uv / pdm
.python-version
Pipfile.lock
poetry.lock
uv.lock
pdm.lock
.pdm.toml
.pdm-python
.pdm-build/

# Virtual environments
.env
.env.local
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.env.*
.env.docker

# IDE and editor settings
.idea/
.vscode/
.spyderproject
.spyproject
.ropeproject
.devcontainer/

# Static type checkers / linters
.mypy_cache/
.dmypy.json
.pyre/
.pytype/
.ruff_cache/

# Alembic / migrations
alembic.ini
alembic/versions/
services/*/migrations/
services/*/__pycache__/

# FastAPI generated
__pydantic_main__.py

# Custom project data/logs
logs/
data/
#common/db/mysqldb/
config.yml
config.json

# Docs
docs/
site/

.DS_Store

# Docker
docker-compose.override.yml
*.env.docker
Dockerfile.*
.docker/

# DB dumps
*.sql
*.dump

#  Swagger-doc PNG
*.png
*.jpg
*.jpeg

*.swp